<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> <%= @article.title %> </p>
    <p> <%= @article.content %> </p>

    <form method="POST" action= "/articles/<%= params[:id]%>">

      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
    </form>


  </body>
</html>
